@import "tailwindcss";

:root {
  --neutral-white: #FBF7F4;
  --neutral-black: #262625;
  --brand-primary: #0396FF;
  --brand-secondary: #013FFD;
}

@theme {
  --breakpoint-3xl: 120rem;
  --shadow-image: 7px 8px 0 0 var(--color-brand-secondary);
}

@theme inline {
  --color-neutral-white: var(--neutral-white);
  --color-neutral-black: var(--neutral-black);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* desktop/body */
body {
  background: var(--neutral-white);
  color: var(--neutral-black);
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* desktop/h1 */
h1 {
  color: var(--brand-primary, #0396FF);
  text-align: center;
  text-shadow: 2.2px 2px 0 #013FFD;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--neutral-white, #FBF7F4);
  font-family: Aptly;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* desktop/h2 */
h2 {
  color: var(--brand-primary, #0396FF);
  text-shadow: 1.8px 1.4px 0 #013FFD;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--neutral-white, #FBF7F4);
  font-family: Aptly;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h6 {
  color: var(--neutral-white, #FBF7F4);
  font-family: Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

a:hover {
  text-decoration: underline;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}